<div id="root">
  <div class="row">
    <div class="col-12">
      <p>React component loading...</p>
    </div>
  </div>
</div>

<script>
 window.tasks = <%= raw Jason.encode!(@tasks) %>;
 window.session_token = <%= raw Jason.encode!((@session || %{data: nil}).data) %>;
 console.log(session_token);
</script>
